<div class="spaSideDialogListFix">
    <p>Our Privacy Policy explains:</p>

    <ul>
        <li>What information we collect and why we collect it.</li>
        <li>How we use that information.</li>
        <li>Which information we share.</li>
    </ul>

    <h4>Information we collect</h4>

    <p>We collect information in two ways:</p>

    <ul>
        <li>
            <strong>Information you give us.</strong><br/>
            For example, our services require you to sign up for account. When you do, we'll ask for personal information, like your name and email address.
        </li>
        <li>
            <strong>Information we get from your use of our services.</strong><br/>
            We collect information about the services that you use and how you use them, or you view and interact with our or other users' content.<br/>
            This information includes:
            <ul>
                <li>
                    <strong>Log information</strong><br/>
                    When you use our services or view content provided by us, we automatically collect and store certain information in server logs. This includes:
                    <ul>
                        <li>details of how you used our service, such as your search queries.</li>
                        <li>Internet protocol address.</li>
                        <li>cookies that may uniquely identify your browser or your account.</li>
                    </ul>
                </li>
                <li>
                    <strong>Local storage</strong><br/>
                    We may collect and store information (including personal information) locally on your device using mechanisms such as browser web storage (including HTML 5) and application data caches.
                </li>
            </ul>
        </li>
    </ul>

    <h4>How we use information we collect</h4>

    <p>We use the information we collect from all of our services to provide, maintain, protect and improve them, to develop new ones, and to protect MetaSolutions and our users.</p>

    <p>We use information collected from cookies and other technologies to improve your user experience and the overall quality of our services. One of the products we use to do this is Google Analytics. For example, by saving your language preferences, we'll be able to have our services appear in the language you prefer.</p>

    <h4>Information you share</h4>

    <p>With this service you may publish information publicly. Remember that when you share information publicly, it may be indexable by search engines like Google.</p>

    <h4>Information we share</h4>

    <p>We do not share personal information with companies, organizations and individuals outside of MetaSolutions unless one of the following circumstances applies:</p>

    <ul>
        <li>
            <strong>With your consent</strong><br/>
            We will share personal information with companies, organizations or individuals outside of MetaSolutions when we have your consent to do so. We require opt-in consent for the sharing of any sensitive personal information.
        </li>

        <li>
            <strong>For legal reasons</strong><br/>
            We will share personal information with companies, organizations or individuals outside of MetaSolutions if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
            <ul>
                <li>meet any applicable law, regulation, legal process or enforceable governmental request.</li>
                <li>enforce applicable Terms of Service, including investigation of potential violations.</li>
                <li>detect, prevent, or otherwise address fraud, security or technical issues.</li>
                <li>protect against harm to the rights, property or safety of MetaSolutions, our users or the public as required or permitted by law.</li>
            </ul>
        </li>
    </ul>

    <p>We may share aggregated, non-personally identifiable information publicly and with our partners. For example, we may share information publicly to show trends about the general use of our services.</p>

    <p>If MetaSolutions is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.</p>

    <h4>Changes</h4>

    <p>Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice.</p>
</div>